.hidden {
    display: none;
}

a {
    text-decoration: none;
}

#container {
    width: 430px;
    margin: 0 auto;
}

body {
    font-family: 'Noto Serif', Times, serif;
    font-size: 16px;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 66px);
    grid-column-gap: 16px;
    padding-left: 18px;
    padding-right: 18px;
}

#main-header {
    margin-top: 30px;
}

#hamburger {
	grid-column: 1/1;
}
#logo-mobile {
    grid-column: 3/3;
	text-align: center;
}

#login {
    grid-column: 5/-1;
	text-align: right;
}

#main-image {
    margin-top: 80px;
    margin-bottom: 80px;
}

h3 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;

}

.product img {
	grid-column: 1/-1;
	text-align: center;  /* check why this doesn't work */
	margin-left: 100px;
}

.product-description p {
	grid-column: 1/-1;
	margin-top: 50px;
	margin-bottom: 50px;
}

#brand {
	margin-top: 30px;
    margin-bottom: 100px;
}

#brand h2 { 
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
}

#brand-image {
    text-align: center;
}

#brand-description p {
    grid-column: 1/-1;
    text-align: left;
	margin-top: 50px;
}

#facebook { 
	grid-column: 2/2;
	/* text-align: right; */
}

/* #instagram {
	grid-column: 3/3;
	text-align: center;
}

#twitter {
	grid-column: 4/4;
	text-align: left;
} */

#company-info {
    margin-top: 50px;
	text-align: center;
}

#company-info p {
    margin-top: 20px;
    margin-bottom: 20px;
	text-align: center;
}

